/**
 * Genericons icon font.
 */
@font-face {
	font-family: 'Genericons';
	src: url('fonts/genericons/genericons-regular-webfont.eot');
	src: url('fonts/genericons/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/genericons/genericons-regular-webfont.woff') format('woff'),
		 url('fonts/genericons/genericons-regular-webfont.ttf') format('truetype'),
		 url('fonts/genericons/genericons-regular-webfont.svg#genericonsregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/**
 * Genericon base style mixin.
 *
 * This mixin declares the base features of all Genericons. Attach to the
 * :before pseudo-element, ideally for all elements requiring a Genericon in a
 * single declaration.
 */
@mixin genericon-base {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'Genericons';
	text-decoration: inherit;
	vertical-align: text-bottom;
}

/**
 * Genericon content mixins.
 *
 * These mixins are called using the name of the required icon and output
 * the corresponding content attribute.
 */
@mixin genericon-comment {
	content: '\f300';
}
@mixin genericon-category {
	content: '\f301';
}
@mixin genericon-tag {
	content: '\f302';
}
@mixin genericon-user {
	content: '\f304';
}
@mixin genericon-month {
	content: '\f307';
}
@mixin genericon-wordpress {
	content: '\f205';
}
@mixin genericon-facebook {
	content: '\f203';
}
@mixin genericon-twitter {
	content: '\f202';
}
@mixin genericon-dribbble {
	content: '\f201';
}
@mixin genericon-googleplus {
	content: '\f206';
}
@mixin genericon-pinterest {
	content: '\f210';
}
@mixin genericon-github {
	content: '\f200';
}
@mixin genericon-tumblr {
	content: '\f214';
}
@mixin genericon-youtube {
	content: '\f213';
}
@mixin genericon-flickr {
	content: '\f211';
}
@mixin genericon-vimeo {
	content: '\f212';
}
@mixin genericon-instagram {
	content: '\f215';
}
@mixin genericon-codepen {
	content: '\f216';
}
@mixin genericon-linkedin {
	content: '\f208';
}