/**
 * Ivory Tower partial for Sass abstractions
 *
 * This is the first file imported into the main Sass stylesheet and defines
 * any functions, mixins and variables that can be used throughout the other
 * stylesheet files. Any partials to be imported within this file should be
 * placed in a `abstractions` subdirectory.
 */

@import "abstractions/_fonts";
@import "abstractions/_mixins";

/**
 * Base variables.
 */

$body-background-color: #fff;
$body-max-width: 40;

$color-text: #000;
$color-contrast: #666;

$font-family-text: Georgia,serif;
