/**
 * Ivory Tower partial for base-level styles
 *
 * This file is used to set up the default appearance of HTML elements
 * throughout the theme. These rules may include attribute selectors,
 * pseudo-class selectors, child selectors or sibling selectors. Any partials
 * to be imported within this file should be placed in a `base` subdirectory.
 */

@import "base/_normalize";

body {
	background-color: $body-background-color;
	@include rem-fallback( max-width, $body-max-width );
	margin: auto;
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img,
embed,
iframe,
object,
audio,
video {
	max-width: 100%;
	height: auto;
}

img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; // Make sure images with WordPress-added height and width attributes are scaled correctly.
}
