/**
 * Ivory Tower partial for layout-level styles
 *
 * This file is used to set up the appearance of major layout components in the
 * theme, such as the site header, the main content area, the major sidebar
 * areas and the footer. Any partials to be imported within this file should be
 * placed in a `layout` subdirectory.
 */

#sidebar-primary {
	border-top: 1px solid $color-text;
}

#footer {
	clear: left;
	border-top: 1px solid $color-text;
}
