/**
 * Ivory Tower partial for module-level styles
 *
 * This file is used to style the modular components that provide the structure
 * for the site content. Any partials to be imported within this file should be
 * placed in a `modules` subdirectory.
 */

/**
 * Site header region
 */

#header {
	text-align: center;
}

#site-title {
	@include rem-fallback( font-size, 2 );
	margin: 0;
}

#site-title a {
	color: $color-text;
}

#site-description {
	@include rem-fallback( font-size, 2 );
	font-style: italic;
	margin: 0;
}

/**
 * Menu
 */

.menu {
	list-style: none;
	margin: 0;
}

.menu-item {
	display: inline;
}

.menu-item a {
	color: $color-contrast;
}

.sub-menu {
	display: none;
}

#menu-social li a[href*="wordpress.org"]::before,
#menu-social li a[href*="wordpress.com"]::before,
#menu-social li a[href*="facebook.com"]::before,
#menu-social li a[href*="twitter.com"]::before,
#menu-social li a[href*="dribbble.com"]::before,
#menu-social li a[href*="plus.google.com"]::before,
#menu-social li a[href*="pinterest.com"]::before,
#menu-social li a[href*="github.com"]::before,
#menu-social li a[href*="tumblr.com"]::before,
#menu-social li a[href*="youtube.com"]::before,
#menu-social li a[href*="flickr.com"]::before,
#menu-social li a[href*="vimeo.com"]::before,
#menu-social li a[href*="instagram.com"]::before,
#menu-social li a[href*="codepen.io"]::before,
#menu-social li a[href*="linkedin.com"]::before {
	@include genericon-base;
}

#menu-social li a[href*="wordpress.org"]::before,
#menu-social li a[href*="wordpress.com"]::before {
	@include genericon-wordpress;
}

#menu-social li a[href*="facebook.com"]::before {
	@include genericon-facebook;
}

#menu-social li a[href*="twitter.com"]::before {
	@include genericon-twitter;
}

#menu-social li a[href*="dribbble.com"]::before {
	@include genericon-dribbble;
}

#menu-social li a[href*="plus.google.com"]::before {
	@include genericon-googleplus;
}

#menu-social li a[href*="pinterest.com"]::before {
	@include genericon-pinterest;
}

#menu-social li a[href*="github.com"]::before {
	@include genericon-github;
}

#menu-social li a[href*="tumblr.com"]::before {
	@include genericon-tumblr;
}

#menu-social li a[href*="youtube.com"]::before {
	@include genericon-youtube;
}

#menu-social li a[href*="flickr.com"]::before {
	@include genericon-flickr;
}

#menu-social li a[href*="vimeo.com"]::before {
	@include genericon-vimeo;
}

#menu-social li a[href*="instagram.com"]::before {
	@include genericon-instagram;
}

#menu-social li a[href*="codepen.io"]::before {
	@include genericon-codepen;
}

#menu-social li a[href*="linkedin.com"]::before {
	@include genericon-linkedin;
}

/**
 * Entry styling
 */

.entry {
	@include rem-fallback( margin, 3, 0 );
}

.entry-header,
.entry-meta {
	color: $color-contrast;
}

.entry-header a,
.entry-meta a {
	color: $color-contrast;
}

.entry-title {
	color: $color-text;
	@include rem-fallback( font-size, 1.5 );
	@include rem-fallback( margin-top, 1.5 ); 
	margin-bottom: 0;
}

.entry-title a {
	color: $color-text;
}

.entry-author,
.entry-published,
.entry-terms.category,
.comments-link {
	display: inline;
}

.entry-author {
	font-style: normal;
}

ul.entry-terms {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.entry-terms > li {
	display: inline;
	@include rem-fallback( margin-left, 0.5 );
}

ul.entry-terms > li:first-child {
	margin-left: 0;
}

.entry-author:before,
.entry-published:before,
.entry-terms.category:before,
.entry-terms.post_tag:before,
.comments-link:before {
	@include genericon-base;
}

.entry-author:before {
	@include genericon-user;
}

.entry-published:before {
	@include genericon-month;
}

.entry-terms.category:before {
	@include genericon-category;
}

.entry-terms.post_tag:before {
	@include genericon-tag;
}

.comments-link:before {
	@include genericon-comment;
}

.more-link {
	color: $color-text;
	text-decoration: none;
}

.more-link:hover {
	text-decoration: underline;
}

.entry-meta {
	clear: both;
}

/**
 * Styling specifically for singular posts and pages.
 */

.singular .entry-summary {
	@include rem-fallback( margin-left, 2 );
	@include rem-fallback( margin-right, 2 );
}

/**
 * Post format styling.
 */

.format-standard .entry-summary img {
	float: right;
	@include rem-fallback( margin-left, 1 );
}

.format-status .avatar {
	float: left;
	@include rem-fallback( margin-right, 1 );
}

/**
 * Sidebar and widget styling.
 */

.widget {
	@include rem-fallback( width, 20 );
	float: left;
}

/**
 * Site credits.
 */

.site-credits {
	text-align: right;
}